body {
    background-color: black;
}

#title {
    text-align: center;
    color: white;
}

#cheatCode {
    text-align: center;
    color: white;
}

#Games {
    text-align: center;
    color: white;
}

#Streams {
    text-align: center;
    color: white;
}

#News {
    text-align: center;
    color: white;
}

